<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<mappers>
    <mapper resource="mapper/AdminMapper.xml"/>
    <mapper resource="mapper/UserMapper.xml"/>
    <mapper resource="mapper/BannerMapper.xml"/>
    <mapper resource="mapper/ArticleMapper.xml"/>
</mappers>
</configuration>